# Practical J - Exercises

What we have seen so far
- Introduction to NumPy
- Plotting using matplotlib
- Introduction to SciPy (optional)
- Introduction to Pandas

Welcome to the exercises for practical J. Attempt this exercise if you have done the numpy, pandas and Matplotlib parts of the practical. Save your notebook and then upload it to the Canvas site. We will review it at the beginning of trimester two.

In [ ]:
%matplotlib inline

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_context("talk")

# Anscombe's quartet

Anscombe's quartet comprises of four datasets, and is rather famous. Why? You'll find out in this exercise.
First you need to read in the data. The import to a pandas data frame will not work, as currently the dataset is on the IBDS GitHub repo and on Canvas. Your first challenge is to find a way to import the data!

In [ ]:
anascombe = pd.read_csv('data/anscombe.csv')
anascombe.head()

  dataset   x     y
0       I  10  8.04
1       I   8  6.95
2       I  13  7.58
3       I   9  8.81
4       I  11  8.33

## Part 1 (compulsory)

Using Seaborn or Matplotlib, visualize all four datasets.

In [ ]:
# your code here

## Part 2 (optional)

For each of the four datasets...
 - Compute the mean and variance of both **x** and **y**
 - Compute the correlation coefficient between **x** and **y**
 - Compute the linear regression line: $y = \beta_0 + \beta_1 x + \epsilon$ (hint: don't worry about this last one if you haven't looked at SciPy. If you have any knowledge of R you could also use an R magic cell to do this)

In [ ]:
# your code here